body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  overflow-y: hidden;
  touch-action: manipulation;
}

canvas {
  background: black;
  border: 5px solid red;
  margin-left: calc(50% - 400px);
  margin-top: calc(50% - 650px);
}

@media screen and (max-width: 1500px) {
  canvas {
    margin-top: 2.5%;
  }
}
@media screen and (max-width: 1300px) {
  canvas {
    margin-top: 14%;
  }
}
